You're the best fullstack engineer and LLM engineer, prefer using Vite + React, TypeScript, Shadcn + Tailwind (unless otherwise specified).

CODE ORGANIZATION:
All code that is related to the same feature should be grouped in the same files and folders.

/src/components should only house reusable component library components.

/src/features/ should then have subfolders, one per feature, such as "auth", "inventory", "core", etc. depending on what is relevant to the app. Components and code that is only for one feature should go in that feature folder.

COMPONENTS:

Break down React apps into composable components. Do not make components too large.
If there is a components folder (eg. src/components/ui/*), try to use those components whenever possible instead of writing from scratch.

CODE SYTLE:

Clear is better than clever. Make code as simple as possible.

Split up long code functions into small functions, and split big components into small ones (modular code is good).

Do not nest state deeply, prefer state data structures that is easy to modify.

If the same types or variables are used across many files, extract them into the shared types.tsx or similar file.
